* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

body {
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;
    gap: 0;
    width: 90%;
    max-width: 1200px;
    margin: 75px auto;
    background-color: #F3F4F6;
    background-image: url(resources/Background_decor@2x.png);
    background-repeat: no-repeat; 
    background-position: top left;
    background-size: 400px; 
    border-radius: 16px;
    overflow: hidden;
}

.header{
    grid-column: span 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header span{
    font-size: 1rem;
    font-weight: 500;
    color: #263FA9;
}
.header h1{
    font-size: 2.5rem;
    color: #000000;
    font-weight: 600;
    margin: 10px 0;
}
.header p{
    font-size: 1rem;
    color: #394150;
}

.memb{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 350px;
    overflow: hidden;
    

}
.memb img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    
}

.memb-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(180deg,rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    color: #fff;
    text-align: left;
}
.memb-info h3{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.6;
}
.memb-info p{
    font-size: 1rem;
    font-weight: 400;
}

.memb-link{
    padding: 20px;
    text-align: center;
    
}
.memb-link a{
    text-decoration: none;
    color: #394150;
    font-size: 1rem;
    font-weight: 500;
}
.memb-link a img{
    width: 15px;
}


.memb:nth-child(2) {
    background-color: #C1B6F8;
}

.memb:nth-child(3) {
    background-color: #EDACD2; /* Rosa claro */
}

.memb:nth-child(5) {
    background-color: #9DC4F8; /* Celeste */
}

.memb:nth-child(6) {
    background-color: #F8D8B0; /* Naranja claro */
}

.memb:nth-child(7) {
    background-color: #9DC4F8; /* Verde claro */
}



.author-info {
    border-top: 1px solid #585858;
    padding: 10px;
    background-color: #adadad;
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
    position: fixed; 
    bottom: 0px;       
    left: 0;
    width: 100%;
}

.author-info a {
    text-decoration: none;
}